body{
    background-color: lightblue;

    margin: 0;
    padding: 0;
}

header, main, footer{
    background-color: #fff;
    border-radius: 5px;

    width: 70%;
    min-width: 520px;

    padding: 5px;
    margin: 10px auto;

    box-shadow: 5px 5px 10px #333;

    text-align: center;
}

main{
    margin-bottom: 60px;
}

footer{
    position: fixed;

    width: 100%;
    left: 0;
    bottom: 0;

   border-radius: 0;
   margin: 0;

   box-sizing: border-box;
}

a{
    display: inline-block;
    
    height: 150px;
    width: 150px;
    
    margin: 0 10px;

    background-color: #6a6;
    color: #000;

    padding: 65px 0;

    border-radius: 25%;

    text-decoration: none;
    box-sizing: border-box;
}