body{
    background-color: lightblue;
}

header, main, footer{
    background-color: #fff;
    border-radius: 5px;

    width: 80%;
    min-width: 700px;

    padding: 5px;
    margin: 10px auto;

    box-shadow: 5px 5px 10px #333;

    text-align: center;
}

main{
    margin-bottom: 60px;
}

footer{
    position: fixed;

    width: 100%;
    left: 0;
    bottom: 0;

    border-radius: 0;
    margin: 0;

    box-sizing: border-box;
}

.button{
    border: 1px solid black;
    background-color: darkblue;

    border-radius: 20px;

    color: white;

    display: inline-block;
    width: 150px;
    height: 150px;

    margin: 0 20px;
    padding: 45px;

    font-size: 3rem;

    box-sizing: border-box;
}

.button:hover{
    background-color: violet;
    cursor: pointer;
}

.button:focus{
    outline: none;
}

details{
    margin: 5px;
    cursor: pointer;
}

a{
    display: inline-block;
    
    height: 50px;
    width: 100px;
    
    margin: 0 10px;

    background-color: #6a6;
    color: #000;

    padding: 17.5px 0;

    border-radius: 25%;

    text-decoration: none;
    box-sizing: border-box;
}