body{
    background-color: lightblue;

    margin: 0;
    padding: 0;
}

header, main, footer{
    background-color: #fff;
    border-radius: 5px;

    width: 70%;
    min-width: 335px;

    padding: 5px;
    margin: 10px auto;

    box-shadow: 5px 5px 10px #333;

    text-align: center;
}

main{
    margin-bottom: 60px;
}

footer{
    position: fixed;

    width: 100%;
    left: 0;
    bottom: 0;

    border-radius: 0;
    margin: 0;

    box-sizing: border-box;
}

/* Os etilos abaixo foram copiados de 
https://medium.com/swlh/creating-a-magic-8-ball-in-html5-with-javascript-40df2a0c6efb */

div.eight-ball {
    background-color: black;
    border: 1px solid black;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin: 30px auto;
}


div.answer {
    background-color: #333;
    border: 1px solid #333;
    border-radius: 50%;
    width: 50%;
    height: 50%;
    margin: 25% auto;
}

#eight {
    font-size: 5em;
    margin: 20% auto;
    color: white;
}

/* esse eu mudei só o nome */
#resposta{
    font-size: 18px;
    padding: 26px;
    color: white;
}

/* Fim da cópia */

input{
    width: 300px;
    margin-bottom: 5px;
}

a{
    display: inline-block;
    
    height: 50px;
    width: 100px;
    
    margin: 0 10px;

    background-color: #6a6;
    color: #000;

    padding: 17.5px 0;

    border-radius: 25%;

    text-decoration: none;
    box-sizing: border-box;
}