body{
    background-color: lightblue;

    margin: 0;
    padding: 0;
}

header, main, footer{
    background-color: #fff;
    border-radius: 5px;

    width: 70%;
    min-width: 520px;

    padding: 5px;
    margin: 10px auto;

    box-shadow: 5px 5px 10px #333;

    text-align: center;
}

main{
    margin-bottom: 60px;
}

footer{
    position: fixed;

    width: 100%;
    left: 0;
    bottom: 0;

   border-radius: 0;
   margin: 0;

   box-sizing: border-box;
}

table{
    margin: auto;
}

td{
    background-color: #f66;
    border: 2px solid #000;
    border-radius: 5px;

    color: #fff;

    box-shadow: 3px 3px 5px #000;

    width: 30px;
    height: 30px;

    cursor: pointer;
}

td:hover{
    background-color: #faa;
    color: #000;
}

.selecionado{
    background-color: #fc9;
    border: 1px solid #333;

    color: #000;
}

a{
    display: inline-block;
    
    height: 50px;
    width: 100px;
    
    margin: 0 10px;

    background-color: #6a6;
    color: #000;

    padding: 17.5px 0;

    border-radius: 25%;

    text-decoration: none;
    box-sizing: border-box;
}

#text{
    margin: 10px;
}