body{
    background-color: lightblue;

    margin: 0;
    padding: 0;
}

header, main, footer{
    background-color: #fff;
    border-radius: 5px;

    width: 70%;
    min-width: 520px;

    padding: 5px;
    margin: 10px auto;

    box-shadow: 5px 5px 10px #333;

    text-align: center;
}

main{
    margin-bottom: 60px;
}

footer{
    position: fixed;

    width: 100%;
    left: 0;
    bottom: 0;

    border-radius: 0;
    margin: 0;

    box-sizing: border-box;
}

.slot{
    display: inline-block;
    height: 150px;
    width: 150px;

    background-color: #999;
    border-radius: 20px;

    margin: 0 10px;

    font-size: 50px;

    padding: 40px 0;

    box-sizing: border-box;
}

ul, ol{
    padding-inline-start: 0;
}

@media (max-width: 590px){
    header, main{
        width: 95%;
        min-width: 340px;
    }

    h1{
        font-size: 1.5rem;
    }

    .slot{
        width: 100px;
        height: 100px;

        padding: 20px 0;

        margin: 0 5px;
    }
}

a{
    display: inline-block;
    
    height: 50px;
    width: 100px;
    
    margin: 0 10px;

    background-color: #6a6;
    color: #000;

    padding: 17.5px 0;

    border-radius: 25%;

    text-decoration: none;
    box-sizing: border-box;
}